@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.game-wrapper {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
}
#turn {
    position: absolute;
    display: flex;
    top: 15%;
    transform: translateY(-50%);
    height: 60px;
    width: 100%;
    justify-content: center;
}
#main-content {
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    background-color: #1b1b1b;
    width: 1000px;
    height: 250px;
}
#switch-player {
    width: 80px;
    height: 30px;
    background-color: #e3e84f;
    border-radius: 40px;
    border: none;
    position: absolute;
    transition: 0.5s ease;

}
#button-circle {
    background-color: rgb(238, 238, 220);
    border: 1px solid #333;
    width: 20px;
    height: 20px;
    right: 52px;
    border-radius: 40px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    transition: 0.5s ease;
}
#options-container {
    right: 0;
    height: 200px;
    width: 280px;
    position: absolute;
}
#switch-label {
    white-space: nowrap;
    right: 0;
    margin-top: 3px;
    color: white;
    font-size: 18px;
    height: fit-content;
    position: absolute;
}
.turn-text {
    position: absolute;
    top: 0;
    font-size: 20px;
    color: white;
}
#turn-mark {
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 100%;
    background-color: #e3e84f;
    transition: 0.8s ease;
}
h2 {
    display: flex;
    width: fit-content;
    left: 20px;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    color: white;
}
body {
    font-family: "Fredoka";
    padding: 0;
    margin: 0;
    background-color: #1b1b1b;
}
.options {
    display: flex;
    justify-content: center;
    top: 0;
    height: fit-content;
}
.game-container {
    position: absolute;
    display: grid;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #333;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
}
.game-container div {
    position: relative;
    border: 1px solid #333;
}
.square-content {
    font-size: 60px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.game-container div:hover {
    cursor: pointer;
    filter: brightness(0.9);
    transition: 0.2s ease;
}